* {
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    background-color: blue;
}

.section2 {
    background-color: red;
    display: flex;
}

.section3 {
    background-color: green;
}